#form-suporte input {
  margin-left: 0;
  width: 100%;
  color: grey;
}

#form-suporte .form-group #btn-sup {
  width: 180px;
  height: 40px;
  border: 2px solid grey;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: black;
  background-color: white;
  text-align: center;
  font-size: 20px;
  transition: 0.3s ease;
}
#form-suporte .form-group:last-child {
  display: flex;
  justify-content: center;
}
#form-suporte .form-group #btn-sup:hover {
  background-color: black;
  color: white;

  border-color: black;
}
